In [22]:
import pandas as pd
import numpy as np

df = pd.read_csv('weather_2017.csv', header=None, sep=',')
df.columns = ['Station identifier', 'Date', 'Observation type', 'Observation value', 'Measurement Flag', 'Quality Flag','Source Flag', 'Observation Time']
df.head()

,Station identifier,Date,Observation type,Observation value,Measurement Flag,Quality Flag,Source Flag,Observation Time
0,US1ILMG0006,20170101,PRCP,0,NaN,NaN,N,NaN
1,US1ILMG0006,20170101,SNOW,0,NaN,NaN,N,NaN
2,CA1MB000296,20170101,PRCP,0,NaN,NaN,N,NaN
3,US1ILCP0081,20170101,PRCP,0,NaN,NaN,N,NaN
4,US1ILCP0081,20170101,SNOW,0,NaN,NaN,N,NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34795541 entries, 0 to 34795540
Data columns (total 8 columns):
Station identifier    object
Date                  int64
Observation type      object
Observation value     int64
Measurement Flag      object
Quality Flag          object
Source Flag           object
Observation Time      float64
dtypes: float64(1), int64(2), object(5)
memory usage: 2.1+ GB

In [24]:
df[df['Observation type']=='TMAX'].head()

,Station identifier,Date,Observation type,Observation value,Measurement Flag,Quality Flag,Source Flag,Observation Time
6,ASN00015643,20170101,TMAX,274,NaN,NaN,a,NaN
16,ASN00085296,20170101,TMAX,217,NaN,NaN,a,NaN
20,ASN00085280,20170101,TMAX,215,NaN,NaN,a,NaN
24,ASN00040209,20170101,TMAX,293,NaN,NaN,a,NaN
74,CA005030984,20170101,TMAX,-109,NaN,NaN,C,NaN

In [25]:
df.to_csv('weather_2017.csv')

In [26]:
df = pd.read_csv('weather_2017.csv')
df.head()

,Unnamed: 0,Station identifier,Date,Observation type,Observation value,Measurement Flag,Quality Flag,Source Flag,Observation Time
0,0,US1ILMG0006,20170101,PRCP,0,NaN,NaN,N,NaN
1,1,US1ILMG0006,20170101,SNOW,0,NaN,NaN,N,NaN
2,2,CA1MB000296,20170101,PRCP,0,NaN,NaN,N,NaN
3,3,US1ILCP0081,20170101,PRCP,0,NaN,NaN,N,NaN
4,4,US1ILCP0081,20170101,SNOW,0,NaN,NaN,N,NaN